.posterImage{
    height: 600px;
}
.posterImage > img{
    margin: auto;
    display: block;
    width: 100%;
}
.posterImage__overlay{
    position: absolute;
    padding:80px;
    bottom: 0;
    display:flex ;
    flex-direction: column;
    width: 100%;
    justify-content:flex-end;
    background-image: linear-gradient(rgba(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;

}

.posterImage__overlay:hover{
    opacity: 1;
}
.posterImage__title{
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 7px;
    text-align: left;

}

.posterImage__runtime{
        font-size: 32px;
        margin-bottom: 15px;
}
.posterImage__rating{
    margin-left: 48px;

}

.posterImage__description{
    font-style: italic;
    font-size: 16px;
    margin-bottom: 4px;
    display: flex;
    text-align: left;
    width: 50%;
}
